.button {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    width: 200px;
    font-size: 1.25rem;
    text-decoration: none;
    text-align: center;
    background-color: var(--primary-2);
    color: var(--white);
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin: 1rem auto
}

.button:hover {
    background-color: var(--primary-3);
}

.button:active {
    background-color: var(--primary-1);
}