/* Colors from design system */
:root {
    --dark: #313638;
    --white: #ffffff;
    --off-white: #f9f9ed;
    --primary-1: #7d84b2;
    --primary-2: #8089b7;
    --primary-3: #8e9dcc;
    --primary-light: #d9dbf1;
}

/* Light theme (default) */
:root {
    --bg-color: #f9f9ed;
    --text-color: var(--dark);
    --header-bg: var(--primary-2);
    --footer-bg: var(--primary-1);
    --footer-text: var(--white);
    --button-bg: var(--primary-2);
    --button-text: var(--white);
    --button-hover: var(--primary-3);
    --button-active: var(--primary-1);
}

/* Dark theme based on system preference */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #313638;
        --text-color: var(--white);
        --header-bg: var(--primary-3);
        --footer-bg: var(--primary-1);
        --footer-text: var(--white);
        --button-bg: var(--primary-2);
        --button-text: var(--white);
        --button-hover: var(--primary-3);
        --button-active: var(--primary-1);
    }
}