/* Base styles */
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Import CSS files */
@import 'colors.css';
@import 'fonts.css';
@import 'layout.css';
@import 'buttons.css';
@import 'footer.css';
@import 'header.css';